
body, .navbar{
	padding-right: 0 !important
}
.esumer{
	position: relative !important;
	top: 25px;
}

/* CONTACTOS */

.Contactos {
	height: 100%;
	width: 100%;
	background-color: white;
}

.boton-enviar-contacto {
	border-radius: 20px !important;
}

/* animación social bar */

.contenedorPadreC {
	position: absolute;
	left: 10px;
}

.contenedor {
	height: 90px;
	/* bottom: 0px; */
	display: flex;
	align-items: center
}

.contenedor2 {
	height: 90px;
	display: flex;
	align-items: center
}

.contenedor3 {
	height: 90px;
	display: flex;
	align-items: center
}

.botonF1 {
	cursor: pointer;
	width: 60px;
	height: 60px;
	background: transparent;
	border: none;
	outline: none;
	/* color: red; */
	color: white;
	font-size: 36px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: .3s;
}

span {
	transition: .5s;
}

.botonF1:active {
	transform: scale(1.1);
}

.btnC {
	height: 50px;
	width: 320px;
	border: none;
	color: #FFF;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	outline: none;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.botonF2 {
	background: #2196F3;
	transition: 0.5s;
	width: 300px !important;
	margin: 0 !important;
}

.animacionVer {
	transform: scale(1);
}
