/*----------------------------------------------------
@File: Default Styles
@Author: Rocky
@URL: http://wethemez.com
Author E-mail: rockybd1995@gmail.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */
/*=====================================================================
@Template Name: Royal Hotel
@Author: Rocky
@Developed By: Rocky
@Developer URL: http://rocky.wethemez.com
Author E-mail: rockybd1995@gmail.com

@Default Styles

Table of Content:
01/ Variables
02/ predefin
03/ header
04/ button
05/ banner
06/ breadcrumb
07/ about
08/ team
09/ project
10/ price
11/ team
12/ blog
13/ video
14/ features
15/ career
16/ contact
17/ footer

=====================================================================*/
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.col-md-offset-right-1, .col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list_style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

.mb_30 {
  margin-bottom: -30px;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #777777;
}

section {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.section_gap {
  padding: 120px 0px;
  background-color: gray;
  color:white;
}
.section_gap_prop{
  padding: 120px 0px;
  background-color:#8a2f63;
  color:white;
}

.section_title {
  margin-bottom: 75px;
}

.section_title h2 {
  font-size: 36px;
  line-height: 40px;
  color: #222222;
  font-weight: 600;
}
.section_title_historia h2 {
  font-size: 36px;
  line-height: 40px;
  color: white;
  font-weight: 600;
}

.section_title p {
  line-height: 30px;
  margin-bottom: 0px;
}

.title_color {
  color: white;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_gap {
  padding: 120px 0;
}
.section_gap_prop {
  padding: 120px 0;
}

.row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.btn_hover {
  font-size: 14px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  padding: 4px 35px;
  display: inline-block;
  border: 1px solid #eeeeee;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn_hover:hover {
  background: #00c8e6;
  color: #fff;
}

.view_btn {
  background: #fff;
}

.view_btn:hover {
  border-color: #222222;
  background: #222222;
}

.btn_hover_two {
  background: #00c8e6;
  color: #fff;
  border-color: #00c8e6;
}

.btn_hover_two:hover {
  background: transparent;
  color: #00c8e6;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: background 0.4s, all 0.3s linear;
  -o-transition: background 0.4s, all 0.3s linear;
  transition: background 0.4s, all 0.3s linear;
}

.header_area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

.header_area .navbar .nav .nav-item .nav-link {
  font: 500 12px/70px "Poppins", sans-serif;
  text-transform: uppercase;
  color: #222222;
  padding: 0px;
  display: inline-block;
  margin-right: 44px;
}

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  color: #00c8e6;
}

.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #222222;
  padding: 0px 30px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #f9f9ff;
  color: #00c8e6;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}

.header_area .navbar .search {
  font-size: 12px;
  line-height: 60px;
  display: inline-block;
  color: #222222;
  margin-left: 43px;
}

.header_area .navbar .search i {
  font-weight: 600;
}

.header_area + section {
  margin-top: 100px;
}

.header_area.navbar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: background 0.4s, all 0.3s linear;
  -o-transition: background 0.4s, all 0.3s linear;
  transition: background 0.4s, all 0.3s linear;
}

.header_area.navbar_fixed .header_top {
  display: none;
}

.header_area.navbar_fixed .navbar {
  background: #fff;
}

.header_top .social_icon li a {
  font-size: 12px;
  line-height: 30px;
  color: #cccccc;
  width: 30px;
  height: 30px;
  background: #f9f9ff;
  display: inline-block;
  text-align: center;
}

.header_top .social_icon li a:hover {
  background: #00c8e6;
  color: #fff;
}

.header_top .top_btn a {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  padding: 0px 32px;
  background: #f9f9ff;
  color: #777;
}

.header_top .top_btn a:hover {
  background: #00c8e6;
  color: #fff;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*=========== event_date_area css ==========*/
.event_date_area {
  background: purple;
  padding: 100px 0px;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.evet_location {
  color: #fff;
}

.evet_location h3 {
  padding-bottom: 5px;
}

.evet_location p {
  margin-bottom: 0px;
}

.evet_location p span {
  padding-right: 12px;
}

.event_time {
  color: #fff;
  text-align: center;
}

.event_time h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.event_time .timer {
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  padding: 27px 0px;
}

.event_time .timer .timer__section {
  float: left;
  overflow: hidden;
  color: #fff;
  width: calc(100% / 4);
}

.event_time .timer .timer__section .timer__number {
  font: 600 36px/45px "Poppins", sans-serif;
}

.event_time .timer .timer__section .timer__label {
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.about_area img {
  max-width: 100%;
}

.about_content {
  padding-right: 70px;
}

.about_content p {
  padding: 15px 0px 25px;
}

.features_item {
  padding: 73px 45px 80px 60px;
  color: #fff;
  background: #00c8e6;
}

.features_item + .features_item {
  border-left: 1px solid #fff;
}

.features_item:nth-child(even) {
  background: #04091e;
}

.features_item h3 {
  margin-bottom: 20px;
}

.features_item p {
  padding-bottom: 25px;
}

/*========== sermons_work_area css ===========*/
.sermons_work_area {
  background:lightblue;
}

.sermons_slider .sermons_image p {
  margin-bottom: 0px;
  margin-top: 25px;
}

.sermons_slider .sermons_content {
  padding-right: 30px;
}

.sermons_slider .owl-dots {
  text-align: right;
  position: absolute;
  right: 290px;
  bottom: 0;
}

.sermons_slider .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background: #eeeeee;
  display: inline-block;
  margin: 0px 5px;
}

.sermons_slider .owl-dots .owl-dot.active {
  background: #00c8e6;
}

.sermons_category {
  padding: 10px 0px 30px;
}

.sermons_category li {
  font-size: 14px;
  padding-bottom: 5px;
}

.sermons_category li span {
  color: #222222;
  font-weight: 400;
}

.sermons_category li a {
  color: #00c8e6;
}

.sermons_category li i {
  padding-right: 10px;
  color: #222222;
  font-weight: 500;
}

/*============ banner_area css =============*/
.ban {
  min-height: 680px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.8))), url("../image/fondo.jpg");
  background: -webkit-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/fondo.jpg");
  background: -o-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/fondo.jpg");
  background: linear-gradient(to right, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/fondo.jpg");
  background-size: cover;
}
.banner_historia{
  min-height: 680px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.8))), url("../image/ninamaria.jpg");
  background: -webkit-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/ninamaria.jpg");
  background: -o-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/ninamaria.jpg");
  background: linear-gradient(to right, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/ninamaria.jpg");
  background-size: cover;
}

.banner_content {
  color: #fff;
}

.banner_content h6 {
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 400;
}

.banner_content h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  padding: 8px 0px 20px;
}

.banner_content .btn_hover_two {
  margin-top: 25px;
}

/*=============Blog Banner css =============*/
.blog_banner {
  min-height: 680px;
  overflow: hidden;
  position: relative;
  background: #04091e !important;
  background-image: transparent !important;
  z-index: 1;
}

.blog_banner .bg-parallax {
  background: url(../image/fondo.jpg) no-repeat scroll 100% 10%/cover;
}

.blog_banner .banner_content {
  margin-bottom: 0px;
  margin-top: 10px;
}

.blog_banner .banner_content h4 {
  font-size: 60px;
  line-height: 66px;
  font-weight: bold;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.blog_banner .banner_content p {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 35px;
}

.blog_banner .banner_content .btn_hover {
  border-radius: 0px;
  background: #fff;
  border-color: #fff;
}

.blog_banner .banner_content .btn_hover:hover {
  background: #00c8e6;
  border-color: #00c8e6;
  color: #fff;
}

.f_48 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.bg-parallax {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 0;
  height: 125%;
  z-index: -1;
  opacity: 0.50;
}

.blog_banner_two {
  padding: 187px 0px 104px;
  background: #04091e;
}


/*=============End Blog Banner css =============*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*=========== breadcrumb_area css =============*/
.breadcrumb_area {
  position: relative;
  background: #04091e;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px
}


.page-cover-tittle {
  display: block;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: #fff;
}

.breadcrumb {
  text-align: center;
  background: transparent;
  padding: 0px;
  display: inline-block;
}

.breadcrumb li {
  display: inline-block;
  color: #fff;
}

.breadcrumb li a {
  color: #fff;
}

.breadcrumb li + li:before {
  content: "\e87a";
  font-family: 'Linearicons-Free';
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  margin: 0px 10px 0px 7px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*========== team_area css ===========*/
.team_item {
  text-align: center;
  margin-bottom: 30px;
}

.team_item .team_img {
  position: relative;
  z-index: 1;
}

.team_item .team_img:before {
  content: "";
  top: 0;
  left: 0;
  background: #00c8e6;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: color 0.3s, all 0.3s linear;
  -o-transition: color 0.3s, all 0.3s linear;
  transition: color 0.3s, all 0.3s linear;
  z-index: 0;
}

.team_item .team_img img {
  max-width: 100%;
}

.team_item .team_img ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 0;
  margin-top: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team_item .team_img ul li {
  display: inline-block;
  margin: 0px 7px;
}

.team_item .team_img ul li a {
  font-size: 14px;
  color: #fff;
  opacity: 0.30;
}

.team_item .team_img ul li a:hover {
  opacity: 1;
}

.team_item .content {
  padding-top: 28px;
}

.team_item .content h3 {
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  margin-bottom: 0px;
}

.team_item .content p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
}

.team_item:hover .team_img:before {
  opacity: 0.75;
}

.team_item:hover .team_img ul {
  margin-top: 0px;
  opacity: 1;
}

